Requirements (TEAM LachOn)

Instructions:
It will list flask as well as any other pip installs your app requires.
Latest version of all packages.
(Reminder: You must seek clearance via PM-generated QAF post for any modules/libraries not explicitly covered in class.)