<!DOCTYPE html>
<!--
  Team Lach On (Maddy Andersen, Dean Carey, Kelly Huang, Erin Lee)
  SoftDev -- Rona Ed.
  K14: Form and Function: Flask app to echo user input via HTML
  Due Dec 10 2020
 -->

<html>

  <head>
    <title>{{ name }}'s Profile</title>
  </head>
  <body>
    <h4>@{{ name }}</h4>
    <h3>{{ fName }} {{ lName }}'s Blogs</h3>
    <h4>ID: {{ user_id }}</h4>

    <form action = "/register_blog" method="POST">
      <input type="submit" value="Create a Blog">
  </form>

    <form action = "/logout" method="POST">
        <input type="submit" value="logout">
    </form>
    <table>
      {% for blog in blogs %}
      <tr>
        <td>
          <form action = "/show_existing_blog" method="POST">
            <input type="submit" name="id" value="{{ blog['blog_id'] }}">
        </form>
        </td>
        <td>
          {{ blog['name'] }}
          </td>
          <td>
            {{ blog['description'] }}
            </td>
      </tr>
      {%  endfor %}
    </table>
  </body>

</html>
