<html>
  <head>
    <title>Register Page</title>
  </head>
  <body>


<form action = "/create_user" method="POST">
	<h3> Enter your first name. </h3>
	<input type="text" name="first_name">
        <br>
	<h3> Enter your last name. </h3>
        <input type="text" name="last_name">
        <br>
	<h3> Enter your username. </h3>
        <input type="text" name="username">
        <br>
        <h3> Enter your password. </h3>
	<input type="password" name="password">
        <br> <br>
        <input type="submit" name="sub1">

</form>
  </body>
</html>

