<!DOCTYPE html>
<!-- 
  Team Lach On (Maddy Andersen, Dean Carey, Kelly Huang, Erin Lee)
  SoftDev -- Rona Ed.
  K15: Sessions Greetings: Flask app that uses session capabilities to allow a user to login and logout.
  Due Dec 14 2020
 -->

<html>

  <head>
    <title>Response Page</title>
  </head>
  <body>
    <h4>Team Lach On (Maddy Andersen, Dean Carey, Kelly Huang, Erin Lee)</h4>
    <h3>Nice to see you, {{ fName }} {{ lName }}!</h3>
    <p>Request Method: {{ method }}</p>
    <p>Username: {{ name }}</p>
    <p>Password: {{ password }}</p>
    <form action = "/logout" method="POST">
        <input type="submit" value="logout">
    </form>     
  </body>

</html>

