<!DOCTYPE html>
<!--
  Team Lach On (Maddy Andersen, Dean Carey, Kelly Huang, Erin Lee)
  SoftDev -- Rona Ed.
  P0 - Da Art of Storytellin'(Pt.2)
  Due 01-08-2021
 -->
 <html>
  <head>
    <title>Create Entry Page</title>
  </head>
  <body>
    <form action = "/save_entry" method="POST">
      <h3> Enter your entry's title. </h3>
      <input type="text" name="entry_title">
      <br>
      <h3> Enter your entry. </h3>
      <textarea rows = "10" cols = "50" name = "content"></textarea><br>
      <input type="submit" name="sub1">
    </form><br>
    <form action = "/show_existing_blog" method="POST">
      <input type="submit" value="Cancel">
    </form>
  </body>
</html>
