<!DOCTYPE html>
<!--
  Team Lach On (Maddy Andersen, Dean Carey, Kelly Huang, Erin Lee)
  SoftDev -- Rona Ed.
  P0 - Da Art of Storytellin'(Pt.2)
  Due 01-08-2021
 -->
<html>
  <head>
    <title>Register Blog Page</title>
  </head>
  <body>
    <form action = "/create_blog" method="POST">
      <h3> Enter your blog's name. </h3>
      <input type="text" name="name">
      <br>
      <h3> Enter a description for your blog. </h3>
      <textarea rows = "10" cols = "50" name = "description"></textarea><br>
      <input type="submit" name="sub1">
    </form><br>
    <form action = "/" method="POST">
      <input type="submit" value="Cancel">
    </form>
  </body>
</html>
