<!DOCTYPE html>
<!--
  Team Lach On (Maddy Andersen, Dean Carey, Kelly Huang, Erin Lee)
  SoftDev -- Rona Ed.
  P0 - Da Art of Storytellin'(Pt.2)
  Due 01-08-2021
 -->
<html>
  <head>
    <title>Register Blog Page</title>
  </head>
  <body>
    <form action = "/save_blog" method="POST">
      <h3> Enter your blog's new name. </h3>
      <input type="text" name="name" value="{{ name }}">
      <br>
      <h3> Enter a new description for your blog. </h3>
      <input type="textarea" name="description" value="{{ description }}"><br>
      <input type="submit" name="sub1">
    </form><br>
    <form action = "/" method="POST">
      <input type="submit" value="Cancel">
    </form>
  </body>
</html>

