<!DOCTYPE html>
<!--
  Team Lach On (Maddy Andersen, Dean Carey, Kelly Huang, Erin Lee)
  SoftDev -- Rona Ed.
  P0 - Da Art of Storytellin'(Pt.2)
  Due 01-08-2021
 -->
 <html>
  <head>
    <title>Register Page</title>
  </head>
  <body>
        <form action = "/create_user" method="POST">
                <h3> Enter your first name. </h3>
                <input type="text" name="first_name">
                <br>
                <h3> Enter your last name. </h3>
                <input type="text" name="last_name">
                <br>
                <h3> Enter your username. </h3>
                <input type="text" name="username">
                <br>
                <h3> Enter your password. </h3>
                <input type="password" name="password">
                <br> <br>
                <input type="submit" name="sub1">
        </form><br>
        <form action = "/" method="POST">
            <input type="submit" value="Cancel">
        </form>
  </body>
</html>
